server {
    listen 80;
    server_name 192.168.2.141;

    # Tell Nginx and Passenger where your app's 'public' directory is
    root /home/userssh/applications/car_server/public;

    # Turn on Passenger
    passenger_enabled on;

    location / {
      proxy_pass http://unix:/home/userssh/applications/car_server/tmp/passenger.sock;
      proxy_redirect     off;
    }
}
