server {
    listen 80;
    server_name 192.168.2.141;

    # Tell Nginx and Passenger where your app's 'public' directory is
    root /home/userssh/applications/car_server/public;

    # Turn on Passenger
    passenger_enabled on;

#    passenger_root /home/userssh/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/passenger-5.1.12;
    passenger_ruby /home/userssh/.rbenv/versions/2.4.1/ruby;
}
